<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
<a href="/">Home</a> |
	<a href="add">Add Employee</a> |
	<a href="delete">Delete Employee</a> |
	<a href="update">Update Employee</a>
<p> Congrats ! This employee record is deleted from database</p>
	
	Employee Id: <span th:text="${employee.empId}"></span><br/>
	Employee Name: <span th:text="${employee.empName}"></span><br/>
	Designation <span th:text="${employee.designation}"></span><br/>
	
</body>
</html>